<html>
    <title>Azure AD B2C App</title>
        <head>
        <meta charset="utf-8" />
        <title>{{ sample }} sample</title>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    </head>
    <body >
        <h1>Azure AD B2C Test App </h1><br>
        <form action = "http://localhost:5000/login" method = "POST">
            <p><input type="submit" value="Login" style="width:400px"</p>
        </form>
    </body>
</html>